*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: $fw-regular;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1;
    
    &.lock {
        overflow: hidden;
        padding-right: 15px;
    }
}

ul, ol {
    padding: 0;
    list-style: none;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
}


:focus {
    outline: 0;
}