$blue: #5661CB;
$dark-blue: #1D2B5B;
$purple: #9FA6EE;
$black: #272727;
$red: #D41A36;
$gray: #7D7D7D;
$dark-gray: #494949;
$green: #219653;
$white: #fff;
$orange: #F2994A;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$transition: .2s;

