@import "reset";
@import "variables";

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: $fw-regular;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
}


@import "blocks/header";
@import "blocks/options";
@import "common/buttons";
@import "common/titles";
@import "common/section";
@import "blocks/catalog";
@import "blocks/intro";
@import "blocks/special-offers";
@import "blocks/cards";

// @media (max-width: 1182px) {
// 	.container {
// 		max-width: 970px;
// 	}
// }
// @media (max-width: 991.98px) {
// 	.container {
// 		max-width: 750px;
// 	}
// }
// @media (max-width: 767.98px) {
// 	.container {
// 		max-width: none;
// 		padding: 0 10px;
// 	}
// }



// input check: http://shpargalkablog.ru/2013/12/input-before-after.html