.card {
    width: 245px;
    border: 1px solid rgba(#868686, .3);
    border-radius: 6px;
    position: relative;
    margin-bottom: 32px;
    padding: 10px;

    &__ribbon {
        position: absolute;
        left: 0;
        top: 10px;
        color: $white;
        font-size: 0.75rem;
        padding: 5px 12px;
        background-color: $orange;
        clip-path: polygon(0 0, 100% 0, 94% 50%, 100% 100%, 0% 100%);

        &--red {
            background-color: $red;
        }

        &--green {
            background-color: $green;
        }

        &--none {
            display: none;
        }
    }

    &__favorites {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__img {
        margin: 40px 0px 10px;

        img {
            margin: 0px auto;
        }
    }

    &__title {
        color: $black;
        font-weight: $fw-medium;
        line-height: 120%;
    }

    &__description {
        font-size: 0.875rem;
        color: $dark-gray;
        font-weight: $fw-light;
        margin: 8px 0px;
        line-height: 115%;
    }

    &__info{
        display: flex;
        justify-content: space-between;   
    }

    &__delivery,
    &__availability {
        font-size: 0.75rem;
        color: $gray;
        font-weight: $fw-light;
        text-decoration: underline;
    }

    &__availability {
        color: $green;
    }

    &__prices {
        display: flex;
        justify-content: space-between;
    }

    &__price {
        font-size: 0.75rem;
        margin: 10px 0px;

        span {
            font-size: 1.25rem;
            font-weight: $fw-medium;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn-basket {
        border: 1px solid $blue;
        border-radius: 4px;
        padding: 6px 16px;
    }
}




