.catalog {
    position: relative;
}

.catalog-wrap {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1;

    &.active {
        display: block;
    }
}

.catalog-nav {
    padding: 22px 15px 28px 15px;
    box-shadow: 0px 1px 10px rgba(#D0D0D0, 25%);
    border-radius: 4px;
    position: relative;
}

.catalog-nav-list {

    &__item {
        padding: 6.5px;

        &-link {
            display: block;
            position: relative;
            color: $black;
            transition: $transition;

            &--red {
                color: $red;
            }
            
            &:hover {
                color: $blue;

                &:after{
                    border-left: 1px solid $blue;
                    border-top: 1px solid $blue;
                }
            }

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                display: block;
                border-left: 1px solid $black;
                border-top: 1px solid $black;
                width: 8px;
                height: 8px;
                transform: translate(50%, -50%) rotate(135deg);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
        
    }
}

.catalog-sub-nav {
    width: 350px;
    position: absolute;
    z-index: 9999;
    top: 0;
    right: -350px;
    bottom: 0;
    
   
    border-radius: 4px;
    border-left: 1px solid #D3D3D3;
}

.catalog-sub-nav-list {
    display: none;
    padding: 28px 15px;
    box-shadow: 0px 1px 10px rgba(#D0D0D0, 25%);

    &__item {
        margin-bottom: 13px;

        &-title {
            color: $blue;
            font-weight: $fw-medium;
            margin-bottom: 16px;
        }

        &-link {
            color: $black;
            transition: $transition;

            &:hover {
                color: $blue;
            }
        }
    }

    &.active {
        display: block;
    }
}