.partners {
    margin-top: 90px;
    padding-bottom: 15px;
}

.partners-slider {
    padding: 0px 50px;
}

.partners-wrapper {
   
}

.partners-slider__btn-prev,
.partners-slider__btn-next {

    &:after {
        font-size: 30px;
        color: $gray;
    }
}

.partners-slider__btn-prev {

}

.partners-slider__btn-next {

}