.btn {
    display: inline-block;
    background-color: $blue;
    color: $white;
    border-radius: 4px;
    transition: $transition;

    &-catalog {
        font-size: 1.125rem;
        padding: 10px 160px 10px 70px ;
        position: relative;

        &:before {
            content: url(../img/options/burger.svg);
            display: block;
            position: absolute;
            left: 10px;
            top: 5px;
        }
    }

    &-order {
        font-size: 1.125rem;
        padding: 10px 36px;
    }

    &-buy {
        font-size: 0.875rem;
        padding: 9px 27px;
    }

    &:hover {
        background-color: darken($blue, 5);
    }
}