.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
    background-color: rgba($black, .9);

    &.open {
        display: flex;
    }
}

.popup__body {
    background-color: $white;
    border-radius: 16px;
    box-shadow: 0px 0px 10px $blue;
    position: relative;
}

.popup__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    color: $gray;
}

.popup__content {
    padding: 50px 70px;
}

.popup__title {
    font-size: 1.25rem;
    text-align: center;
    color: $black;
    font-weight: $fw-medium;
    margin-bottom: 35px;
}

.popup__form {
    display: flex;
    flex-direction: column;

    input {
        margin-bottom: 15px;
    }

    input[type=text],
    input[type=tel] {
        // font-family: 'Roboto', sans-serif;
        font-size: 0.75rem;
        font-weight: $fw-light;
        color: $black;
        width: 310px;
        border-radius: 6px;
        background-color: #F2F3F7;
        border: none;
        padding: 15px;
    }

    label {
        font-size: 0.6875rem;
        color: $gray;

        a {
            color: $blue;
        }
    }
}

.pupup__label {
    display: flex;
    justify-content: space-between;
    // align-items: center;
}